/* .list-group {
  max-height: 300px;
  overflow: scroll;
  scroll-behavior: smooth;

} */
.list-group-item {
  text-align: center;
}
li:hover {
  background-color: #461717;
  color: #fff;
  font-weight: bold;
  /* border-left: 5px solid #fff;
  border-right: 5px solid #fff; */
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid #fff; */
}
.search-view {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid black;
}

input {
  text-align: center;
}
h4 {
  font-family: monospace;
}
.header {
  padding: 25px;
  background-color: #461717;
  color: #fff;
}
.sugg-span {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  padding: 15px;
  background-color: #461717;
  color: #fff;
}
.badge {
  color: #0f0d0d;
  background-color: #fff;
}
